*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --gray-800: #1E293B;
  --gray-600: #475569;
  --placeholder-color: #94A3B8;
  --purple: #7C3AED;
  --border-input: #E2E8F0;
  --purple-light: #9F67FF;
  --red-invalid: #ED3A5A;
}

body{
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: var(--gray-800);

  display: grid;
  grid-template-columns: repeat(2,1fr);
}

aside{
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  gap: 11.4rem;
  padding: 4rem 0 0 11.2rem;
  justify-content: center;
}

a{
  font-weight: 600;
  text-decoration: none;
  color: var(--purple);
}

/* Login Header*/ 
.login{
  max-width: 384px;
  width: 100%;
}

.login header{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom:4rem;
}

.login header h1{
  font-size: 3.6rem;
}

.login header p{
  color: var(--gray-600);
}

/* Login Form*/
.login form{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 3.2rem;
}

.login .input-fields{
  display: flex;
  flex-direction: column;
}

.login label{
  font-size: 1.4rem;
  font-weight: 600;
}

.login label[for='email']{
  margin-bottom: 0.8rem;
}

.login input{
  padding: 1.6rem 1.2rem;
  border-radius: 4px;
  border: 1px solid var(--border-input);
}

.login input::placeholder{
  color: var(--placeholder-color);
  font-size: 1.4rem;
}

.login input:focus{
  outline: 1px solid var(--purple);
}

.login .input-password{
  margin: 1.6rem 0 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login .input-icon{
  position: relative;
}
.login .input-icon input{
  width: 100%;
  padding-right: 5.5rem;
}

.login .input-icon img{
  position: absolute;
  top: 1.5rem;
  right: 1.65rem;
}

.login button{
  padding: 1.6rem 2.4rem;
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  
  transition: background-color 0.2s;
}

.login button:hover{
  background-color: var(--purple-light);
}

.login footer{
  color: var(--gray-600);
}

.login footer a{
  font-weight: bold;
  transition: text-decoration 0.6s;
}

.login footer a:hover{
  text-decoration: underline;
}

.login .input-fields .invalid{
  border: 1px solid var(--red-invalid);
}

#error{
  color: var(--red-invalid);
  margin-top: 0.4rem;
  font-size: 1.4rem;
}

/* Responsividade */

@media(max-width: 1050px){
  main{
    padding-left: 5rem;
  }
}

@media(max-width: 910px){
  body{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
  }
}

@media(max-width: 768px){
  body{
    display: grid;
    grid-template-columns: 1fr;
  }
  .login{
    margin:auto;
    padding-left: 0;
  }
  aside{
    background-image: none;
    height: max-content;
  }
}
