/* Config CSS */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body, button, textarea, input{
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

body{
  font-size: 1.6rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  background-color: #F8FAFC;
  color: #1E293B;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

/* Config padrão da página*/

p{
  color:#475569;
}

.block{
  border-radius: 10px;
  padding: 4.8rem 3.2rem 3.2rem;
  border: 1px solid #E2E8F0;
  width: max-content;
  transition: border 0.2s;
}

.block:not(.dark):hover{
  border: 1px solid #996DFF;
}

.dark{
  background-color: #0F172A;
  color: #F8FAFC;
  border: none;
}

.initial{
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #7C3AED;
}

.currency{
  font-weight: 400;
  font-size: 1.8rem;
}

.month{
  font-size: 1.8rem;
}

.defaultButton{
  width: 100%;
  border-radius: 4px;
  padding: 1.6rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid #1E293B;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
}

.defaultButton:focus,
.defaultButton:active,
.defaultButton:hover{
  background-color: #1E293B;
  color: #FFFFFF;
}

.buttonDark{
  background-color: #996DFF;
  color: #FFFFFF;
}

.buttonDark:focus,
.buttonDark:active,
.buttonDark:hover{
  background-color: #7C3AED;
  color: #FFFFFF;
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info p{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.info + .info{
  margin-top: 1.6rem;
}

.paragraph-dark{
  color: #C8D5E1;
}

/* Block Essentials */

.essentials header{
  display: flex;
  align-items: center;
  gap: 5.2rem;
  margin-top: 0.8rem;
}

.essentials header h2{
  font-size: 3.2rem;
}

.essentials header strong{
  font-size: 2.4rem;
}

.essentials .containButton{
  padding: 3.2rem 0rem;
  border-bottom: 1px solid #E2E8F0;
  margin-bottom: 3.2rem;
}

/* Block Ultimate */

.ultimate{
  position: relative;
}

.ultimate header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.2rem;
  margin-top: 0.8rem;
  width: 320px;
}

.ultimate header h2{
  font-size: 3.2rem;
}

.ultimate header strong{
  font-size: 2.4rem;
}

.ultimate .containButton{
  padding: 3.2rem 0rem;
  border-bottom: 1px solid #334155;
  margin-bottom: 3.2rem;
}

.blockVantage{
  background-color: #FBA94C;
  color: #0F172A;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  width: max-content;
  position: absolute;
  z-index: 1;
  top:0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Block Enterprise */
.enterprise header{
  display: flex;
  align-items: center;
  gap: 5.2rem;
  margin-top: 0.8rem;
  width: 320px;
}

.enterprise header h2{
  font-size: 3.2rem;
}

.enterprise .containButton{
  padding: 3.2rem 0rem;
  border-bottom: 1px solid #E2E8F0;
  margin-bottom: 3.2rem;
}

/* Responsive */
@media(max-width: 1220px){
  body{
    margin: 8rem auto;
  }
  main{
    grid-template-columns: 1fr;
    height: 100vh;
  }
}