/* Config CSS */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  background-color: #282843;
  color: #E1E1E6;
}

body, input, textarea, button{
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}