@import 'colors';
@import 'component';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body{
  color: $gray-400;
  background-color: $white;
}

body, input, button, textarea{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}